* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  background-color: #cfcfcf;
  padding: 5px;
}

.container {
  height: 90%;
  max-width: 750px;
}

#modal1 {
  background-color: #ffffff;
  padding: 1.2em;
}
